node_modules
.expo
.expo-shared
.env
android/keystore.properties
android/app/*.jks
credentials.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
hs_err_pid*
replay_pid*
logcat.txt
*.apks
.gradle-local/
.vscode/
System.Drawing.Drawing2D.GraphicsPath
bundletool*.jar
